name: 'Update Images Data'

on:
  # push:
  #   branches: 
  #     - main
  schedule:
    - cron: '0 7 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 7.8.0
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'pnpm'
      - run: pnpm install 
      - name: Update Data
        run: npm run update-data
      - name: Commit
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'noreply@github.com'
          git add .
          git commit -m "update images data"
          git push
        env:
          PUSH_KEY: ${{ secrets.PUSH_KEY }}

concurrency: 
  group: ${{ github.workflow }}
  cancel-in-progress: true   
